
@import url(animations.css);
body {
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

body {
    background-color: bisque;
    animation-name: example;
    animation-duration: 2ms;
    animation-iteration-count: infinite;
}